@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #64748b;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-title {
    font-family: 'Permanent Marker', Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 2px 8px rgba(231, 216, 255, 0.5);
}

.choice-btn-interact:hover {
    border-bottom: 0.5rem solid #EA5455;
    border-top: 0.5rem solid #EA5455;
}

.select-disappear {
    animation: select-fade-out 200ms ease-in-out 0s 1 normal forwards;
}

.cards-border {
    --outer-neon-color: #BFACE2;

    border: 5px solid var(--outer-neon-color);
    box-shadow: 0 0 20px var(--outer-neon-color);

    animation: glitch-border 5s linear 0s infinite normal forwards;
}

.card img {
    user-select: none;
    -webkit-user-drag: none;
}

.card.guessed {
    animation: bounce 200ms ease-in-out 0s 1 normal forwards;
}

.card.matched {
    border: 3px solid rgb(179, 255, 174);
    transition: all 200ms ease-in-out;
}

@keyframes glitch-border {
    /* 0%, 8%, 16%, 24%, 32%, 40%, 48% {
        box-shadow: 0 0 20px var(--outer-neon-color);
    }
    4%, 12%, 20%, 28%, 36%, 44% {
        box-shadow: 0 0 10px var(--outer-neon-color);
    } */
    0%, 16%, 32% {
        box-shadow: 0 0 20px var(--outer-neon-color);
    }
    8%, 24%, 40% {
        box-shadow: 0 0 10px var(--outer-neon-color);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes select-fade-out {
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}