@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #64748b;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards-border {
    --outer-neon-color: #BFACE2;

    border: 5px solid var(--outer-neon-color);
    box-shadow: 0 0 20px var(--outer-neon-color);

    animation: glitch-border 5s linear 0s infinite normal forwards;
}

.card img {
    user-select: none;
    -webkit-user-drag: none;
}

.card.guessed {
    animation: bounce 200ms ease-in-out 0s 1 normal forwards;
}

.card.matched {
    /* border: 3px solid rgb(180, 231, 180); */
    border: 3px solid rgb(179, 255, 174);
    transition: all 200ms ease-in-out;
}

@keyframes glitch-border {
    0%, 8%, 16%, 24%, 32%, 40%, 48% {
        box-shadow: 0 0 20px var(--outer-neon-color);
    }
    4%, 12%, 20%, 28%, 36%, 44% {
        box-shadow: 0 0 10px var(--outer-neon-color);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scale(1.2);
    }
}